@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');

body {
	margin: 0;
	font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	background: #111;
	color: #fff;
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
container {
	display: flex;
	flex-direction: row;

	padding: 1rem;
	max-width: 90rem;
	margin: 0 auto;
}
.preview {
	background: black;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Pretendard';
}
.aspect-square {
	aspect-ratio: 1 / 1;
}
#left-panel {
	display: flex;
	flex-direction: column;
	align-items: center;

	flex: 0 0 24rem;
	padding: 1rem;
	border-radius: 1.5rem;
	box-shadow: 0 10px 25px rgba(0,0,0,0.5);
	background-color: #262626;
}
#image-panel {
	width: 100%;
	margin-bottom: 1rem;
	position: relative;
}
#image-info {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}
#image-options {
	width: 100%;
}
#image-options > * + * {
	margin-top: 0.75rem;
}
#right-panel {
	flex: 1;
	min-width: 0;
	padding-left: 16px;
	overflow-y: auto;
	margin-left: 0.2rem;
	padding-top: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	-o-user-drag: none;
	user-select: none;
}
#cover {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
	border-radius: 0.75rem;
}
#canvasLoadingOverlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  
	align-items: center;
	justify-content: center;
  
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	color: white;
	font-size: 1rem;
	z-index: 10;
}
#canvasLoadingOverlay:not(.hidden) {
	display: flex;
}
#mini-image-thumnail {
	width: 8rem;
	height: 8rem;
	border-radius: 0.75rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
#imageTitle {
	font-size: 16px;
	font-weight: 400;
	padding-left: 0.4rem;
}
#imageSource {
	color: #9CA3AF;
	font-size: 14px;
	font-weight: 400;
	padding-left: 0.4rem;
}
#imageAuthor {
	color: #6B7280;
	font-size: 13px;
	font-weight: 300;
	padding-left: 0.4rem;
}
#themeSelect {
	width: 100%;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
}
button.theme-button:hover {
	background-color: #4285f4;
}
#image-options select, input[type="text"] {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: white;
	background-color: #262626;
	border: 3px solid #3a3a3a;
	outline: none;
}
#usernameWarning, #titleWarning, #subtitleWarning, #footerWarning {
	color: #FBBC05;
	font-size: 0.875rem;
	margin-top: 0.25rem;
}
#download-btn{
	width: 100%;
	background-color: #939393;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 0.25rem;
	margin-top: 1rem;
	transition: background-color 0.2s;
}
#download-btn:hover {
	background-color: #4285f4;
}
#menu-btn {
	background-color: #262626;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}
#image-selector {
	background-color: #262626;
	border-radius: 1.5rem;
	padding: 1rem;
}
#color-selector {
	background-color: #262626;
	margin-top: 1rem;
	border-radius: 1.5rem;
	padding: 1rem;
}
#color-picker {
	background-color: #262626;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1.5rem;
	padding: 1rem;
}
#unsplash-searchBar {
	background-color: #262626;
	border-radius: 1.5rem;
	padding: 1rem;
}
#unsplash-search{
	background-color: #262626;
	border-radius: 0.5rem;
	padding: 0.75rem;
}
#unsplash-selector {
	background-color: #262626;
	border-radius: 1.5rem;
	padding: 1rem;
	min-height: 20rem;
}
#file-selector {
	background-color: #262626;
	border-radius: 1.5rem;
	padding: 1rem;
}
#hexInput {
	width: 450px;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
}
#svPointer {
	position: absolute;
	width: 14px; height: 14px;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 0 0 4px black;
	pointer-events: none;
	transform: translate(-50%, -50%);
	display: none;
}
.check-box, .check-box * {
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
}
.custom-checkbox {
	display: none;
}
.checkbox-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	user-select: none;
}
.filled {
	font-variation-settings: 'FILL' 1;
}
.checkbox-label .material-symbols-outlined {
	font-size: 36px;
	color: white;
}
.checkbox-label-checked {
	display: none;
}
.custom-checkbox:checked + .checkbox-label .checkbox-label-checked {
	display: inline-block;
}
.custom-checkbox:checked + .checkbox-label .checkbox-label-unchecked {
	display: none;
}
/* .img-wrapper,
.color-wrapper {
	width: 100%;
	max-width: 112px;
	aspect-ratio: 1 / 1;
} */
#image-selector .img-wrapper:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease, border 0.2s ease;
}
#color-selector .color-wrapper:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease, border 0.2s ease;
}
#unsplash-selector .unsplash-wrapper:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease, border 0.2s ease;
}
#copyright {
	text-align: center;
	color: #9ca3af;
	padding: 1rem;
	font-size: 1rem;
	flex-shrink: 0;
}
#copyright a {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease;
}

#copyright a:hover,
#copyright a:focus {
	color: #FBBC05;
	text-decoration: none;
}

@media (max-width: 900px) {
	container {
		flex-direction: column !important;
	}
	#right-panel {
		padding: 0;
		padding-top: 1rem;
	}
}


#canvas-wrapper.ios-blur {
  filter: blur(6px);
  transform: scale(1.05); /* blur로 인해 경계가 잘리는 걸 방지 */
}